*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 .fullpage{
  /* background-color: gray;
  background-image: url(); */
  /* background-size: cover;
  background-position: center;
  min-height: 100vh; */
  display: grid;
  justify-items: center;
  /* grid-template-columns: repeat(2, 2fr); */
} 
.cart-body{
 max-width: 500px;
 min-width:400px;
 height: 500px;
 background: rgba(255, 255, 255, 0.1);
 border-radius: 5px;
 margin: 10px;
 backdrop-filter: blur(20px);
 box-shadow:0 25px 25px rgba(0,0,0,0.1);
}
.course-img{
  width: 400px;
  height: 300px;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
}
.title{
  color: white;
  margin-left: 5px;
}
.auther{
  margin-left: 5px;
  color: antiquewhite;
}
.underLine{
  height: 3px;
  width: 100px;
  background: black;
  margin-left: 5px;
}
.rating{
  margin-bottom: 20px;
}
.btn-course{
  padding: 10px;
  width:100%;
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: white;
  color: gray;
  border: none;
  margin: auto;
}
@media screen and (min-width: 1000px) {
  .course-img{
    width:500px;
  }
}
@media screen and (max-width: 800px) {
  .course-img{
    width:500px;
  }
}