.details{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPy_jT10YLOX4_BAPxvpdGSGPhiAWRr3yWIQ&usqp=CAU);
  width: 100vw;
  min-height: 100vh;
  display: grid;
  justify-items: center;
}

.auth-body{
 width: 500px;
  /* min-width:400px; */
  /* height: 700px; */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin: 10px;
  backdrop-filter: blur(20px);
  box-shadow:0 25px 25px rgba(0,0,0,0.1);
 }
 .auth-images{
  height: 700px;
  width: 500px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.details-auth{
  margin-left: 5px;
  color: white;
}
.titel{
  font-size: 20px;
}
/* .city{
  margin-bottom: 5px;
} */
.button-register-user{
 display: grid;
 justify-items: center;
}
.button-register-user>a{
  padding: 10px 100px;
}
.btn-addToCart{
  border:2px solid ;
  text-align: center;
  color: white;
  text-decoration: none;
}
.list-items{
  border: 2px solid gray;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.learn{
  
}
.course-details-point{
 margin: 20px;
}
.detailse{
 display: flex;
 align-items: center;
}
.pdf{
 display: flex;
 justify-content: center;
}
.btn-pdf{
  height: 40px;
  width: 200px;
  color: white;
  background-color:gray;
  font-size: 10px;
  border: none;

}
@media screen and (min-width:1000px) {
  .details{
    /* background:linear-gradient(#06D7A1); */
    width: 100vw;
    min-height: 100vh;
  }
  .auth-body{
    display: flex;
    height: 510px;
    min-width: 1000px;
  }
  .auth-images{
    width: 600px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 300px;

  }
  .imes-auth img{
    height: 480px;
    margin: 10px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 800px) {
  .list-items{
    display: block;
  }
}
