.form-register{
 margin-top: 100px;
}
 form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  /* justify-content: center; */
  height: 80vh;
}
.btn-rg,.inputs{
  padding: 10px 90px;
  outline: none;
  border: 2px solid;
}
.btn-rg{
  /* border: 2px solid; */
  cursor: pointer;
  width: 350px;
}
.underline{
  height: 2px;
  width: 240px;
  background-color: black;
}  
@media screen and (max-width:800px) {
  form{
   height: 30%;
  }
}